.dragin{
    -webkit-app-region: drag;
    /*-webkit-user-select: none;*/
    float: left;
}
body{
	margin: 0px;
	position: fixed;
}
img{
    -webkit-app-region: drag;
    /*-webkit-user-select: none;*/
}
body{
	background-color: rgba(0,0,0,0);
}
#Message{
	width: auto;
}

#MenuButton{
	position: absolute;
	left:1px;
	bottom: 1px;
	-webkit-app-region: no-drag;
}

/*******************************
* 左からの吹き出し
********************************/
.left_balloon {
    position: absolute;
    background: #fff;
    border: 1px solid #777;
    margin: 10px;
    padding: 10px;
    border-radius: 15px;
    /*margin-right: 20%;*/
    clear: both;
    max-width: 500px;
    float: right;
    white-space: nowrap;
}
.left_balloon:after,
.left_balloon:before {
    right: 100%;
    top: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}
.left_balloon:after {
    border-color: rgba(255, 255, 255, 0);
    border-right-color: #fff;
    border-width: 7px;
    margin-top: -7px;
}
.left_balloon:before {
    border-color: rgba(0, 0, 0, 0);
    border-right-color: #000;
    border-width: 8px;
    margin-top: -8px;
}
 
/*******************************
* 右からの吹き出し
********************************/
.right_balloon {
    position: absolute;
    background: #85e249;
    border: 1px solid #777;
    margin: 10px;
    padding: 10px;
    border-radius: 15px;
    /*margin-left: 20%;*/
    clear: both;
    max-width: 500px;
    float: left;
}
.right_balloon:after,
.right_balloon:before {
    left: 100%;
    top: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}
.right_balloon:after {
    border-color: rgba(133, 226, 73, 0);
    border-left-color: #85e249;
    border-width: 7px;
    margin-top: -7px;
}
.right_balloon:before {
    border-color: rgba(119, 119, 119, 0);
    border-left-color: #777;
    border-width: 8px;
    margin-top: -8px;
}
/*******************************
* 割り込みを解除
********************************/
.clear_balloon{
  clear: both;
}